@media screen and (max-width: 550px) {
    .banner{
        flex-direction: column;
    }
    .navbar{
        flex-direction: column;
    }
    .navbar ul{
        flex-direction: column;
    }
    .l-nav h3{
        align-content: center;
        justify-content: center;
    }
    .navbar a{
font-size: 1em;
    }
    .banner img{
        width: 350px;
    }
    .r-banner h1{
font-size: 1.8em;
    }
    .r-banner p{
        font-size: 1em;
    }
    .skill-area{
        gap: 25px;
        flex-wrap: wrap;
    }
    .edc{
        flex-direction: column-reverse;

    }
    .r-education img{
        width: 350px;
    }
}